.manage
  padding: $large_space
  @include medium
    padding: $large_space 0px
  button
    @include button()
      background-color: $primary_lighten_color
      color: $black_color
      &:hover
        background-color: $primary_color
  .addNewBtn
    border: none
  .btn-sm
    i
      font-size: 16px
  .tableMain
    table
      min-width: 540px
      th,td
        @include medium
          padding: 8px
          font-size: 14px
  .tableDetail
    table
      min-width: 680px
      th,td
        padding: 8px
        font-size: 14px
      td
        vertical-align: middle
